In [3]:
import pandas as pd
# read csv file
df = pd.read_csv("divina.csv", encoding="utf-8")

In [4]:
df

,Name,number,phone number,gender,region,last visit,Previous purchase price,Second previous purchase price
0,Peng Yufang,146,921869947,female,Hsinchu,March 6,382,267
1,Ding Yixin,145,936888540,female,Taoyuan,March 7,297,210
2,Zhang Xiaoyun,108,912250417,female,Taoyuan,March 5,735,350
3,Zhan Jiawen,140,937781860,Male,Taoyuan,March 4,1680,840
4,Chen Meiyun,168,910651625,female,Taoyuan,January 3,1172,717
5,Li Peirong,104,958600414,Female,Hsinchu,2022/6/30,1310,1540
6,Liu Mingzhu,27,916115570,Female,Taoyuan,2022/11/27,840,420
7,Luo Yuechun,93,34704103,female,Taoyuan,March 17,595,367
8,Liang Cuiping,28,932270435,female,Taoyuan,February 25,2310,1260
9,Cai Baixiu,95,955564195,Male,Taipei,2023/3/2,840,1795

In [6]:
#1.想知道客人從a-z字母排序
df_sorted = df.sort_values('Name')

# 將排序結果印出到控制台
df_sorted

,Name,number,phone number,gender,region,last visit,Previous purchase price,Second previous purchase price
9,Cai Baixiu,95,955564195,Male,Taipei,2023/3/2,840,1795
4,Chen Meiyun,168,910651625,female,Taoyuan,January 3,1172,717
1,Ding Yixin,145,936888540,female,Taoyuan,March 7,297,210
5,Li Peirong,104,958600414,Female,Hsinchu,2022/6/30,1310,1540
8,Liang Cuiping,28,932270435,female,Taoyuan,February 25,2310,1260
6,Liu Mingzhu,27,916115570,Female,Taoyuan,2022/11/27,840,420
7,Luo Yuechun,93,34704103,female,Taoyuan,March 17,595,367
0,Peng Yufang,146,921869947,female,Hsinchu,March 6,382,267
3,Zhan Jiawen,140,937781860,Male,Taoyuan,March 4,1680,840
2,Zhang Xiaoyun,108,912250417,female,Taoyuan,March 5,735,350

In [9]:
# 2.計算女性比率
female_count = df[' gender'].value_counts()[' female']
total_count = df[' gender'].count()
female_ratio = female_count / total_count

# 將女性比率印出到控制台
print('女性比率為：', female_ratio)

女性比率為： 0.6