In [5]:
import pandas as pd
data = pd.read_csv("divina.csv",index_col=0)
data.head()

,number,phone number,gender,region,last visit,Previous purchase price,Second previous purchase price
Name,,,,,,,
Peng Yufang,146,921869947,female,Hsinchu,2023/3/6,382,267
Ding Yixin,145,936888540,female,Taoyuan,2023/3/7,297,210
Zhang Xiaoyun,108,912250417,female,Taoyuan,2023/3/5,735,350
Zhan Jiawen,140,937781860,Male,Taoyuan,2023/3/4,1680,840
Chen Meiyun,168,910651625,female,Taoyuan,2023/1/3,1172,717

In [6]:
print("資料(資料筆數,欄位數量): ",data.shape)
print("資料中所有欄位名稱: ",data.columns)
print("資料中是否有空值: ",data.empty)

資料(資料筆數,欄位數量):  (10, 7)
資料中所有欄位名稱:  Index([' number', ' phone number', ' gender', ' region', ' last visit',
       ' Previous purchase price', ' Second previous purchase price'],
      dtype='object')
資料中是否有空值:  False

In [7]:
set(data[" last visit"])

{' 2022/11/27',
 ' 2022/6/30',
 ' 2023/1/3',
 ' 2023/2/25',
 ' 2023/3/17',
 ' 2023/3/4',
 ' 2023/3/5',
 ' 2023/3/6',
 ' 2023/3/7',
 '2023/3/2'}

In [9]:
c1 = (data[" region"] == " Taoyuan")
c1

Name
Peng Yufang      False
Ding Yixin        True
Zhang Xiaoyun     True
Zhan Jiawen       True
Chen Meiyun       True
Li Peirong       False
Liu Mingzhu       True
Luo Yuechun       True
Liang Cuiping     True
Cai Baixiu       False
Name:  region, dtype: bool

In [10]:
d1 = data[c1]
len(d1)

7